@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --primary: rgb(228, 61, 61);
  --secondary: rgb(255, 63, 63);
  --backdrop: rgba(255, 235, 210, 0.1);
  --font-light: rgb(255, 235, 210);
  --error-color: rgb(209, 44, 44);
  --font-dark: #222;
  --grey-11: #111; 
  --grey-22: #222; 
  --grey-28: #282828; 
  --grey-33: #333; 
  --grey-44: #444; 


  --radius-xl: 2.6rem;
  --radius-l: 1.8rem;
  --radius-m: 1.2rem;
  --radius-s: 0.6rem;

  --transition-slow: 800ms;
  --transition-medium: 400ms;
  --transition-fast: 200ms;

  --nav-height-desktop: 10rem;
  --nav-height-mobile: 7rem;

  --box-shadow: var(--black) 0px 2rem 3rem -1rem;
  --box-shadow-nav: var(--black) 0px 0rem 3rem -1rem;
  --box-shadow-footer: var(--black) 0px 0rem 3rem -1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/* Root font-size: 1rem = 10px */
html {
  width: 100%;
  font-size: 10px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  background-color: var(--grey-22);
  user-select: none;
}

/* Font */
h2, h5, p, ul, li, a, span, input, textarea, label, summary, details {
  font-family: 'Montserrat', monospace;
}

h1, h3, h4 {
  font-family: 'Signika Negative', sans-serif;
}

/* Color */
h2, h3, h4, p, ul, li, a, span, label, summary, details {
  color: var(--font-light);
}

h5, h6 {
  color: var(--font-light);
}

h6 {
  font-family: monospace;
}

/* Size */
h1 {
  color: var(--secondary);
  font-size: clamp(5rem, 7vw, 9rem);
}

h2 {
  font-size: 2.2rem;
  line-height: 1.6;
}

h3 {
  color: var(--secondary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, ul, li, a {
  font-size: 1.4rem;
  line-height: 1.5;
}
ul, ol {
  margin-left: 22px;
}

a {
  text-decoration: none;
}

/* Code for Firefox */
::-moz-selection { 
  color: var(--font-light);
  background: var(--primary);
}

::selection {
  color: var(--font-light);
  background: var(--primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey-22);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-44);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}